@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: #1e1e1e;
    --color-two:  #777;
    --bg-one: #CCCCCC;
    --bg-two: #f2f2fe;
    --color-icon: #4E47DE;
    --color-hover: #ff589e;
    --color-button-one: #8261ee;
    --font: "Raleway", sans-serif;
}

* {
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--color-hover);
}

body {
    font-family: var(--font);
    line-height: 1.4;
}

::selection {
    background-color: var(--color-hover);
    color: #fff;
  }


.mixin-title {
    text-align: center;
    font-size: 65px;
    color: var(--color-text);
    font-weight: 700;
    margin: 40px 0 45px 0 ;
}






/* buttons  */
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 45px;
    border: 0;
    background-color: var(--color-hover);
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}


.button-border {
    display: inline-block;
    padding: 20px 45px;
    border-radius: 5px;
    border: 2px solid var(--bg-3);
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

.button-border:hover {
    border: 2px solid transparent;
    background-color: #f7d9c4;
    color: var(--color-text);

}

.button-one {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 45px;
    border: 0;
    background-color: var(--color-hover);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.button-one:hover {
    background-color: var(--color-button-one);

}


.button-two {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 45px;
    border: 0;
    background-color: var(--color-button-one);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.button-two:hover {
    background-color:  var(--color-hover);

}





/* buttons  */






/* Modal Window  */

.modal-window {
    display: table;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    background-color: rgba(61, 61, 61, 0.65);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.modal-window.show {

    visibility: visible;
}

.modal-window .modal-window-container {

    display: table-cell;
    vertical-align: middle;

}

.modal-window .modal-window-container .modalWindow-video-container {
    box-sizing: border-box;
}

.modal-window .modal-window-container .modalWindow-video-container .modalWindow-video {
    height: calc(44.9943757vw);
    width: 80vw;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.close:hover {
    color: white;
    background-color: var(--color-text);
}

.close i {
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
}

/* End Modal Window   */




.hr {
    bottom: 0px;
    width: 100%;
    height: 1px;
    margin-top: 100px;
    border-bottom: 1px solid #eee;
}




/* Box Head  */

.box-head {
    text-align: center;
    color: #fff;
}


.box-head .inner-title {
    font-size: 30px;
}

.box-head .inner-desc{
    margin: 30px 0 50px 0;
    padding: 0 250px;
} 


/* End Box Head   */


.flipInX {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; 
    animation-duration: 3s; 
}
